USE [master]
GO
/****** Object:  Database [DaNangGo]    Script Date: 06/10/2026 7:58:53 CH ******/
CREATE DATABASE [DaNangGo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DaNangGo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DaNangGo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DaNangGo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DaNangGo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DaNangGo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DaNangGo]
GO
/****** Object:  User [danangogo_app]    Script Date: 06/10/2026 7:58:53 CH ******/
CREATE USER [danangogo_app] FOR LOGIN [danangogo_app] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [danangogo_app]
GO
ALTER ROLE [db_datareader] ADD MEMBER [danangogo_app]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [danangogo_app]
GO
/****** Object:  Table [dbo].[accommodation_amenities]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accommodation_amenities](
	[place_id] [int] NOT NULL,
	[amenity_id] [int] NOT NULL,
 CONSTRAINT [pk_accommodation_amenities] PRIMARY KEY CLUSTERED 
(
	[place_id] ASC,
	[amenity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[accommodations]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accommodations](
	[place_id] [int] NOT NULL,
	[place_type] [varchar](20) NOT NULL,
	[accommodation_type] [varchar](20) NOT NULL,
	[star_rating] [tinyint] NULL,
	[check_in_time] [time](7) NULL,
	[check_out_time] [time](7) NULL,
	[accepts_cash] [bit] NOT NULL,
	[accepts_bank_transfer] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[amenities]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amenities](
	[amenity_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[icon] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[amenity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attraction_categories]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attraction_categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attractions]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attractions](
	[place_id] [int] NOT NULL,
	[place_type] [varchar](20) NOT NULL,
	[category_id] [int] NULL,
	[ticket_price] [decimal](18, 0) NOT NULL,
	[visit_duration_minutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_items]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[room_type_id] [int] NULL,
	[menu_item_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[check_in] [date] NULL,
	[check_out] [date] NULL,
	[visit_date] [date] NULL,
	[party_size] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_status_logs]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_status_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[old_status] [nvarchar](20) NULL,
	[new_status] [nvarchar](20) NOT NULL,
	[changed_by] [int] NULL,
	[changed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[place_id] [int] NULL,
	[booking_type] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[contact_name] [nvarchar](100) NOT NULL,
	[contact_phone] [nvarchar](20) NOT NULL,
	[note] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuisines]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuisines](
	[cuisine_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cuisine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_message_places]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_message_places](
	[message_id] [bigint] NOT NULL,
	[place_id] [int] NOT NULL,
 CONSTRAINT [pk_chat_message_places] PRIMARY KEY CLUSTERED 
(
	[message_id] ASC,
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_messages]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_messages](
	[message_id] [bigint] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[sender] [varchar](10) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_sessions]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_sessions](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[started_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[districts]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[districts](
	[district_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[itineraries]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itineraries](
	[itinerary_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](150) NULL,
	[start_date] [date] NULL,
	[num_days] [tinyint] NOT NULL,
	[num_people] [tinyint] NOT NULL,
	[budget] [decimal](18, 0) NOT NULL,
	[include_stay] [bit] NOT NULL,
	[include_food] [bit] NOT NULL,
	[include_attractions] [bit] NOT NULL,
	[total_estimated_cost] [decimal](18, 0) NOT NULL,
	[budget_status] [varchar](10) NULL,
	[status] [varchar](15) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[itinerary_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[itinerary_alternatives]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itinerary_alternatives](
	[alt_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[alternative_place_id] [int] NOT NULL,
	[alternative_room_type_id] [int] NULL,
	[alternative_menu_item_id] [int] NULL,
	[cost_saving] [decimal](18, 0) NULL,
	[reason] [nvarchar](255) NULL,
	[status] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[alt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[itinerary_days]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itinerary_days](
	[day_id] [int] IDENTITY(1,1) NOT NULL,
	[itinerary_id] [int] NOT NULL,
	[day_number] [tinyint] NOT NULL,
	[day_cost] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[day_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[itinerary_items]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itinerary_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[day_id] [int] NOT NULL,
	[place_id] [int] NOT NULL,
	[item_type] [varchar](10) NOT NULL,
	[room_type_id] [int] NULL,
	[menu_item_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 0) NOT NULL,
	[estimated_cost] [decimal](18, 0) NOT NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[mode_id] [int] NULL,
	[travel_minutes_from_previous] [int] NULL,
	[travel_cost] [decimal](18, 0) NOT NULL,
	[sort_order] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_item_tastes]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_item_tastes](
	[menu_item_id] [int] NOT NULL,
	[taste_id] [int] NOT NULL,
 CONSTRAINT [pk_menu_item_tastes] PRIMARY KEY CLUSTERED 
(
	[menu_item_id] ASC,
	[taste_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_items]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_items](
	[menu_item_id] [int] IDENTITY(1,1) NOT NULL,
	[place_id] [int] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](500) NULL,
	[price] [decimal](18, 0) NOT NULL,
	[is_available] [bit] NOT NULL,
	[image_url] [varchar](255) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[opening_hours]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opening_hours](
	[opening_id] [int] IDENTITY(1,1) NOT NULL,
	[place_id] [int] NOT NULL,
	[day_of_week] [tinyint] NOT NULL,
	[open_time] [time](7) NOT NULL,
	[close_time] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[opening_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partner_profiles]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partner_profiles](
	[partner_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[business_name] [nvarchar](150) NOT NULL,
	[contact_phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[approval_status] [varchar](20) NOT NULL,
	[approved_by] [int] NULL,
	[approved_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[partner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[method] [nvarchar](20) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[paid_at] [datetime] NULL,
	[reference_code] [nvarchar](100) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[place_images]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[place_images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[place_id] [int] NOT NULL,
	[image_url] [varchar](255) NOT NULL,
	[is_cover] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[places]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[places](
	[place_id] [int] IDENTITY(1,1) NOT NULL,
	[place_type] [varchar](20) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[address] [nvarchar](255) NULL,
	[district_id] [int] NULL,
	[latitude] [decimal](9, 6) NULL,
	[longitude] [decimal](9, 6) NULL,
	[phone] [varchar](20) NULL,
	[website] [varchar](255) NULL,
	[partner_id] [int] NULL,
	[avg_rating] [decimal](2, 1) NOT NULL,
	[review_count] [int] NOT NULL,
	[view_count] [int] NOT NULL,
	[promo_label] [nvarchar](50) NULL,
	[status] [varchar](20) NOT NULL,
	[verified_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurants]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurants](
	[place_id] [int] NOT NULL,
	[place_type] [varchar](20) NOT NULL,
	[cuisine_id] [int] NULL,
	[price_min] [decimal](18, 0) NULL,
	[price_max] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[place_id] [int] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[comment] [nvarchar](1000) NULL,
	[status] [varchar](20) NOT NULL,
	[moderated_by] [int] NULL,
	[moderated_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_types]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_types](
	[room_type_id] [int] IDENTITY(1,1) NOT NULL,
	[place_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[capacity] [tinyint] NULL,
	[price_per_night] [decimal](18, 0) NOT NULL,
	[original_price] [decimal](18, 0) NULL,
	[status] [varchar](20) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[room_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[route_cache]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[route_cache](
	[route_id] [int] IDENTITY(1,1) NOT NULL,
	[from_place_id] [int] NOT NULL,
	[to_place_id] [int] NOT NULL,
	[mode_id] [int] NOT NULL,
	[distance_km] [decimal](8, 2) NULL,
	[duration_minutes] [int] NULL,
	[estimated_cost] [decimal](18, 0) NULL,
	[cached_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[route_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[survey_answers]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[survey_answers](
	[answer_id] [int] IDENTITY(1,1) NOT NULL,
	[response_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[option_id] [int] NULL,
	[answer_text] [nvarchar](1000) NULL,
	[answer_score] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[answer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[survey_question_options]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[survey_question_options](
	[option_id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[option_text] [nvarchar](200) NOT NULL,
	[sort_order] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[survey_questions]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[survey_questions](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[survey_id] [int] NOT NULL,
	[content] [nvarchar](500) NOT NULL,
	[question_type] [varchar](20) NOT NULL,
	[is_required] [bit] NOT NULL,
	[sort_order] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[survey_responses]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[survey_responses](
	[response_id] [int] IDENTITY(1,1) NOT NULL,
	[survey_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[place_id] [int] NULL,
	[itinerary_id] [int] NULL,
	[status] [varchar](10) NOT NULL,
	[sent_at] [datetime2](7) NOT NULL,
	[submitted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[response_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[surveys]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[surveys](
	[survey_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](500) NULL,
	[target_role] [varchar](10) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[expires_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[survey_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_settings]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_settings](
	[setting_key] [varchar](100) NOT NULL,
	[setting_value] [nvarchar](500) NOT NULL,
	[description] [nvarchar](255) NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[setting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tastes]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tastes](
	[taste_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[taste_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transport_modes]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transport_modes](
	[mode_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[cost_per_km] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mode_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_favorites]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_favorites](
	[user_id] [int] NOT NULL,
	[place_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [pk_user_favorites] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_memberships]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_memberships](
	[user_id] [int] NOT NULL,
	[tier_id] [int] NOT NULL,
	[points] [int] NOT NULL,
	[joined_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_preferences]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_preferences](
	[user_id] [int] NOT NULL,
	[preferred_cuisine_id] [int] NULL,
	[preferred_taste_id] [int] NULL,
	[preferred_category_id] [int] NULL,
	[default_budget_per_day] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[date_of_birth] [date] NULL,
	[avatar_url] [varchar](255) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vip_offers]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vip_offers](
	[offer_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](30) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](500) NULL,
	[min_tier_id] [int] NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[valid_until] [date] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[offer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vip_tiers]    Script Date: 06/10/2026 7:58:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vip_tiers](
	[tier_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[min_points] [int] NOT NULL,
	[benefits] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[tier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[amenities] ON 

INSERT [dbo].[amenities] ([amenity_id], [name], [icon]) VALUES (1, N'Wi-Fi miễn phí', NULL)
INSERT [dbo].[amenities] ([amenity_id], [name], [icon]) VALUES (2, N'Hồ bơi', NULL)
INSERT [dbo].[amenities] ([amenity_id], [name], [icon]) VALUES (3, N'Bữa sáng', NULL)
SET IDENTITY_INSERT [dbo].[amenities] OFF
GO
SET IDENTITY_INSERT [dbo].[attraction_categories] ON 

INSERT [dbo].[attraction_categories] ([category_id], [name]) VALUES (1, N'Bãi biển')
INSERT [dbo].[attraction_categories] ([category_id], [name]) VALUES (5, N'Chùa / Tâm linh')
INSERT [dbo].[attraction_categories] ([category_id], [name]) VALUES (4, N'Giải trí')
SET IDENTITY_INSERT [dbo].[attraction_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[cuisines] ON 

INSERT [dbo].[cuisines] ([cuisine_id], [name]) VALUES (3, N'Đặc sản Đà Nẵng')
INSERT [dbo].[cuisines] ([cuisine_id], [name]) VALUES (2, N'Hải sản')
INSERT [dbo].[cuisines] ([cuisine_id], [name]) VALUES (5, N'Món Hàn / Nhật')
SET IDENTITY_INSERT [dbo].[cuisines] OFF
GO
SET IDENTITY_INSERT [dbo].[districts] ON 

INSERT [dbo].[districts] ([district_id], [name]) VALUES (6, N'Cẩm Lệ')
INSERT [dbo].[districts] ([district_id], [name]) VALUES (1, N'Hải Châu')
INSERT [dbo].[districts] ([district_id], [name]) VALUES (7, N'Hòa Vang')
SET IDENTITY_INSERT [dbo].[districts] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (3, N'Admin')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (2, N'Partner')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (1, N'User')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[tastes] ON 

INSERT [dbo].[tastes] ([taste_id], [name]) VALUES (6, N'Béo')
INSERT [dbo].[tastes] ([taste_id], [name]) VALUES (1, N'Cay')
INSERT [dbo].[tastes] ([taste_id], [name]) VALUES (3, N'Chua')
SET IDENTITY_INSERT [dbo].[tastes] OFF
GO
SET IDENTITY_INSERT [dbo].[transport_modes] ON 

INSERT [dbo].[transport_modes] ([mode_id], [code], [name], [cost_per_km]) VALUES (1, N'WALK', N'Đi bộ', CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[transport_modes] ([mode_id], [code], [name], [cost_per_km]) VALUES (2, N'MOTORBIKE', N'Xe máy', CAST(3000 AS Decimal(18, 0)))
INSERT [dbo].[transport_modes] ([mode_id], [code], [name], [cost_per_km]) VALUES (3, N'CAR', N'Ô tô', CAST(12000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[transport_modes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__amenitie__72E12F1B581A9B18]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[amenities] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__attracti__72E12F1B4CD0B2B5]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[attraction_categories] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cuisines__72E12F1B4F4AD1C9]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[cuisines] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_cm_session]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_cm_session] ON [dbo].[chat_messages]
(
	[session_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__district__72E12F1BB6DFB8FC]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[districts] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_itin_user_status]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_itin_user_status] ON [dbo].[itineraries]
(
	[user_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_itin_day]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[itinerary_days] ADD  CONSTRAINT [uq_itin_day] UNIQUE NONCLUSTERED 
(
	[itinerary_id] ASC,
	[day_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_item_day]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_item_day] ON [dbo].[itinerary_items]
(
	[day_id] ASC,
	[sort_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_menu_place]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_menu_place] ON [dbo].[menu_items]
(
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_open_slot]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[opening_hours] ADD  CONSTRAINT [uq_open_slot] UNIQUE NONCLUSTERED 
(
	[place_id] ASC,
	[day_of_week] ASC,
	[open_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__partner___B9BE370E24C3169F]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[partner_profiles] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_img_place]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_img_place] ON [dbo].[place_images]
(
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_places_id_type]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[places] ADD  CONSTRAINT [uq_places_id_type] UNIQUE NONCLUSTERED 
(
	[place_id] ASC,
	[place_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_places_name]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_places_name] ON [dbo].[places]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_places_partner]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_places_partner] ON [dbo].[places]
(
	[partner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_places_type_status_district]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_places_type_status_district] ON [dbo].[places]
(
	[place_type] ASC,
	[status] ASC,
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_review_user_place]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[reviews] ADD  CONSTRAINT [uq_review_user_place] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_rev_place_status]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_rev_place_status] ON [dbo].[reviews]
(
	[place_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__783254B1EDFE5AC3]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_room_place]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_room_place] ON [dbo].[room_types]
(
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_route]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[route_cache] ADD  CONSTRAINT [uq_route] UNIQUE NONCLUSTERED 
(
	[from_place_id] ASC,
	[to_place_id] ASC,
	[mode_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_sa_response_question]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[survey_answers] ADD  CONSTRAINT [uq_sa_response_question] UNIQUE NONCLUSTERED 
(
	[response_id] ASC,
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_sr_survey]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_sr_survey] ON [dbo].[survey_responses]
(
	[survey_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_sr_user]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_sr_user] ON [dbo].[survey_responses]
(
	[user_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tastes__72E12F1B6D80A039]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[tastes] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__transpor__357D4CF9D5FDAC9D]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[transport_modes] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_fav_place]    Script Date: 06/10/2026 7:58:54 CH ******/
CREATE NONCLUSTERED INDEX [idx_fav_place] ON [dbo].[user_favorites]
(
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164A987368E]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vip_offe__357D4CF980FC66FF]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[vip_offers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vip_tier__357D4CF9C383BFCB]    Script Date: 06/10/2026 7:58:54 CH ******/
ALTER TABLE [dbo].[vip_tiers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accommodations] ADD  CONSTRAINT [df_acc_type]  DEFAULT ('ACCOMMODATION') FOR [place_type]
GO
ALTER TABLE [dbo].[accommodations] ADD  DEFAULT ((1)) FOR [accepts_cash]
GO
ALTER TABLE [dbo].[accommodations] ADD  DEFAULT ((1)) FOR [accepts_bank_transfer]
GO
ALTER TABLE [dbo].[attractions] ADD  CONSTRAINT [df_attr_type]  DEFAULT ('ATTRACTION') FOR [place_type]
GO
ALTER TABLE [dbo].[attractions] ADD  DEFAULT ((0)) FOR [ticket_price]
GO
ALTER TABLE [dbo].[booking_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[booking_items] ADD  DEFAULT ((0)) FOR [unit_price]
GO
ALTER TABLE [dbo].[booking_status_logs] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[chat_sessions] ADD  DEFAULT (sysdatetime()) FOR [started_at]
GO
ALTER TABLE [dbo].[itineraries] ADD  DEFAULT ((1)) FOR [num_people]
GO
ALTER TABLE [dbo].[itineraries] ADD  DEFAULT ((1)) FOR [include_stay]
GO
ALTER TABLE [dbo].[itineraries] ADD  DEFAULT ((1)) FOR [include_food]
GO
ALTER TABLE [dbo].[itineraries] ADD  DEFAULT ((1)) FOR [include_attractions]
GO
ALTER TABLE [dbo].[itineraries] ADD  DEFAULT ((0)) FOR [total_estimated_cost]
GO
ALTER TABLE [dbo].[itineraries] ADD  DEFAULT ('DRAFT') FOR [status]
GO
ALTER TABLE [dbo].[itineraries] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[itinerary_alternatives] ADD  DEFAULT ('SUGGESTED') FOR [status]
GO
ALTER TABLE [dbo].[itinerary_days] ADD  DEFAULT ((0)) FOR [day_cost]
GO
ALTER TABLE [dbo].[itinerary_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[itinerary_items] ADD  DEFAULT ((0)) FOR [unit_price]
GO
ALTER TABLE [dbo].[itinerary_items] ADD  DEFAULT ((0)) FOR [estimated_cost]
GO
ALTER TABLE [dbo].[itinerary_items] ADD  DEFAULT ((0)) FOR [travel_cost]
GO
ALTER TABLE [dbo].[menu_items] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[partner_profiles] ADD  DEFAULT ('PENDING') FOR [approval_status]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[place_images] ADD  DEFAULT ((0)) FOR [is_cover]
GO
ALTER TABLE [dbo].[places] ADD  DEFAULT ((0)) FOR [avg_rating]
GO
ALTER TABLE [dbo].[places] ADD  DEFAULT ((0)) FOR [review_count]
GO
ALTER TABLE [dbo].[places] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[places] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[places] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[restaurants] ADD  CONSTRAINT [df_rest_type]  DEFAULT ('RESTAURANT') FOR [place_type]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[room_types] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[route_cache] ADD  DEFAULT (sysdatetime()) FOR [cached_at]
GO
ALTER TABLE [dbo].[survey_questions] ADD  DEFAULT ((1)) FOR [is_required]
GO
ALTER TABLE [dbo].[survey_responses] ADD  DEFAULT ('SENT') FOR [status]
GO
ALTER TABLE [dbo].[survey_responses] ADD  DEFAULT (sysdatetime()) FOR [sent_at]
GO
ALTER TABLE [dbo].[surveys] ADD  DEFAULT ('ALL') FOR [target_role]
GO
ALTER TABLE [dbo].[surveys] ADD  DEFAULT ('DRAFT') FOR [status]
GO
ALTER TABLE [dbo].[surveys] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[transport_modes] ADD  DEFAULT ((0)) FOR [cost_per_km]
GO
ALTER TABLE [dbo].[user_favorites] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_memberships] ADD  DEFAULT ((0)) FOR [points]
GO
ALTER TABLE [dbo].[user_memberships] ADD  DEFAULT (sysdatetime()) FOR [joined_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[vip_offers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[vip_tiers] ADD  DEFAULT ((0)) FOR [min_points]
GO
ALTER TABLE [dbo].[accommodation_amenities]  WITH CHECK ADD  CONSTRAINT [fk_aa_acc] FOREIGN KEY([place_id])
REFERENCES [dbo].[accommodations] ([place_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[accommodation_amenities] CHECK CONSTRAINT [fk_aa_acc]
GO
ALTER TABLE [dbo].[accommodation_amenities]  WITH CHECK ADD  CONSTRAINT [fk_aa_amenity] FOREIGN KEY([amenity_id])
REFERENCES [dbo].[amenities] ([amenity_id])
GO
ALTER TABLE [dbo].[accommodation_amenities] CHECK CONSTRAINT [fk_aa_amenity]
GO
ALTER TABLE [dbo].[accommodations]  WITH CHECK ADD  CONSTRAINT [fk_acc_place] FOREIGN KEY([place_id], [place_type])
REFERENCES [dbo].[places] ([place_id], [place_type])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[accommodations] CHECK CONSTRAINT [fk_acc_place]
GO
ALTER TABLE [dbo].[attractions]  WITH CHECK ADD  CONSTRAINT [fk_attr_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[attraction_categories] ([category_id])
GO
ALTER TABLE [dbo].[attractions] CHECK CONSTRAINT [fk_attr_category]
GO
ALTER TABLE [dbo].[attractions]  WITH CHECK ADD  CONSTRAINT [fk_attr_place] FOREIGN KEY([place_id], [place_type])
REFERENCES [dbo].[places] ([place_id], [place_type])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[attractions] CHECK CONSTRAINT [fk_attr_place]
GO
ALTER TABLE [dbo].[booking_items]  WITH CHECK ADD  CONSTRAINT [FK_booking_items_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([booking_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[booking_items] CHECK CONSTRAINT [FK_booking_items_booking]
GO
ALTER TABLE [dbo].[booking_status_logs]  WITH CHECK ADD  CONSTRAINT [FK_status_logs_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([booking_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[booking_status_logs] CHECK CONSTRAINT [FK_status_logs_booking]
GO
ALTER TABLE [dbo].[chat_message_places]  WITH CHECK ADD  CONSTRAINT [fk_cmp_message] FOREIGN KEY([message_id])
REFERENCES [dbo].[chat_messages] ([message_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chat_message_places] CHECK CONSTRAINT [fk_cmp_message]
GO
ALTER TABLE [dbo].[chat_message_places]  WITH CHECK ADD  CONSTRAINT [fk_cmp_place] FOREIGN KEY([place_id])
REFERENCES [dbo].[places] ([place_id])
GO
ALTER TABLE [dbo].[chat_message_places] CHECK CONSTRAINT [fk_cmp_place]
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD  CONSTRAINT [fk_cm_session] FOREIGN KEY([session_id])
REFERENCES [dbo].[chat_sessions] ([session_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chat_messages] CHECK CONSTRAINT [fk_cm_session]
GO
ALTER TABLE [dbo].[chat_sessions]  WITH CHECK ADD  CONSTRAINT [fk_cs_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[chat_sessions] CHECK CONSTRAINT [fk_cs_user]
GO
ALTER TABLE [dbo].[itineraries]  WITH CHECK ADD  CONSTRAINT [fk_itin_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[itineraries] CHECK CONSTRAINT [fk_itin_user]
GO
ALTER TABLE [dbo].[itinerary_alternatives]  WITH CHECK ADD  CONSTRAINT [fk_alt_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[itinerary_items] ([item_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[itinerary_alternatives] CHECK CONSTRAINT [fk_alt_item]
GO
ALTER TABLE [dbo].[itinerary_alternatives]  WITH CHECK ADD  CONSTRAINT [fk_alt_menu] FOREIGN KEY([alternative_menu_item_id])
REFERENCES [dbo].[menu_items] ([menu_item_id])
GO
ALTER TABLE [dbo].[itinerary_alternatives] CHECK CONSTRAINT [fk_alt_menu]
GO
ALTER TABLE [dbo].[itinerary_alternatives]  WITH CHECK ADD  CONSTRAINT [fk_alt_place] FOREIGN KEY([alternative_place_id])
REFERENCES [dbo].[places] ([place_id])
GO
ALTER TABLE [dbo].[itinerary_alternatives] CHECK CONSTRAINT [fk_alt_place]
GO
ALTER TABLE [dbo].[itinerary_alternatives]  WITH CHECK ADD  CONSTRAINT [fk_alt_room] FOREIGN KEY([alternative_room_type_id])
REFERENCES [dbo].[room_types] ([room_type_id])
GO
ALTER TABLE [dbo].[itinerary_alternatives] CHECK CONSTRAINT [fk_alt_room]
GO
ALTER TABLE [dbo].[itinerary_days]  WITH CHECK ADD  CONSTRAINT [fk_day_itin] FOREIGN KEY([itinerary_id])
REFERENCES [dbo].[itineraries] ([itinerary_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[itinerary_days] CHECK CONSTRAINT [fk_day_itin]
GO
ALTER TABLE [dbo].[itinerary_items]  WITH CHECK ADD  CONSTRAINT [fk_item_day] FOREIGN KEY([day_id])
REFERENCES [dbo].[itinerary_days] ([day_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[itinerary_items] CHECK CONSTRAINT [fk_item_day]
GO
ALTER TABLE [dbo].[itinerary_items]  WITH CHECK ADD  CONSTRAINT [fk_item_menu] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([menu_item_id])
GO
ALTER TABLE [dbo].[itinerary_items] CHECK CONSTRAINT [fk_item_menu]
GO
ALTER TABLE [dbo].[itinerary_items]  WITH CHECK ADD  CONSTRAINT [fk_item_mode] FOREIGN KEY([mode_id])
REFERENCES [dbo].[transport_modes] ([mode_id])
GO
ALTER TABLE [dbo].[itinerary_items] CHECK CONSTRAINT [fk_item_mode]
GO
ALTER TABLE [dbo].[itinerary_items]  WITH CHECK ADD  CONSTRAINT [fk_item_place] FOREIGN KEY([place_id])
REFERENCES [dbo].[places] ([place_id])
GO
ALTER TABLE [dbo].[itinerary_items] CHECK CONSTRAINT [fk_item_place]
GO
ALTER TABLE [dbo].[itinerary_items]  WITH CHECK ADD  CONSTRAINT [fk_item_room] FOREIGN KEY([room_type_id])
REFERENCES [dbo].[room_types] ([room_type_id])
GO
ALTER TABLE [dbo].[itinerary_items] CHECK CONSTRAINT [fk_item_room]
GO
ALTER TABLE [dbo].[menu_item_tastes]  WITH CHECK ADD  CONSTRAINT [fk_mit_item] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([menu_item_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[menu_item_tastes] CHECK CONSTRAINT [fk_mit_item]
GO
ALTER TABLE [dbo].[menu_item_tastes]  WITH CHECK ADD  CONSTRAINT [fk_mit_taste] FOREIGN KEY([taste_id])
REFERENCES [dbo].[tastes] ([taste_id])
GO
ALTER TABLE [dbo].[menu_item_tastes] CHECK CONSTRAINT [fk_mit_taste]
GO
ALTER TABLE [dbo].[menu_items]  WITH CHECK ADD  CONSTRAINT [fk_menu_rest] FOREIGN KEY([place_id])
REFERENCES [dbo].[restaurants] ([place_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[menu_items] CHECK CONSTRAINT [fk_menu_rest]
GO
ALTER TABLE [dbo].[opening_hours]  WITH CHECK ADD  CONSTRAINT [fk_open_place] FOREIGN KEY([place_id])
REFERENCES [dbo].[places] ([place_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[opening_hours] CHECK CONSTRAINT [fk_open_place]
GO
ALTER TABLE [dbo].[partner_profiles]  WITH CHECK ADD  CONSTRAINT [fk_partner_approver] FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[partner_profiles] CHECK CONSTRAINT [fk_partner_approver]
GO
ALTER TABLE [dbo].[partner_profiles]  WITH CHECK ADD  CONSTRAINT [fk_partner_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[partner_profiles] CHECK CONSTRAINT [fk_partner_user]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([booking_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_booking]
GO
ALTER TABLE [dbo].[place_images]  WITH CHECK ADD  CONSTRAINT [fk_img_place] FOREIGN KEY([place_id])
REFERENCES [dbo].[places] ([place_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[place_images] CHECK CONSTRAINT [fk_img_place]
GO
ALTER TABLE [dbo].[places]  WITH CHECK ADD  CONSTRAINT [fk_places_district] FOREIGN KEY([district_id])
REFERENCES [dbo].[districts] ([district_id])
GO
ALTER TABLE [dbo].[places] CHECK CONSTRAINT [fk_places_district]
GO
ALTER TABLE [dbo].[places]  WITH CHECK ADD  CONSTRAINT [fk_places_partner] FOREIGN KEY([partner_id])
REFERENCES [dbo].[partner_profiles] ([partner_id])
GO
ALTER TABLE [dbo].[places] CHECK CONSTRAINT [fk_places_partner]
GO
ALTER TABLE [dbo].[restaurants]  WITH CHECK ADD  CONSTRAINT [fk_rest_cuisine] FOREIGN KEY([cuisine_id])
REFERENCES [dbo].[cuisines] ([cuisine_id])
GO
ALTER TABLE [dbo].[restaurants] CHECK CONSTRAINT [fk_rest_cuisine]
GO
ALTER TABLE [dbo].[restaurants]  WITH CHECK ADD  CONSTRAINT [fk_rest_place] FOREIGN KEY([place_id], [place_type])
REFERENCES [dbo].[places] ([place_id], [place_type])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[restaurants] CHECK CONSTRAINT [fk_rest_place]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [fk_rev_moderator] FOREIGN KEY([moderated_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [fk_rev_moderator]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [fk_rev_place] FOREIGN KEY([place_id])
REFERENCES [dbo].[places] ([place_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [fk_rev_place]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [fk_rev_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [fk_rev_user]
GO
ALTER TABLE [dbo].[room_types]  WITH CHECK ADD  CONSTRAINT [fk_room_acc] FOREIGN KEY([place_id])
REFERENCES [dbo].[accommodations] ([place_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[room_types] CHECK CONSTRAINT [fk_room_acc]
GO
ALTER TABLE [dbo].[route_cache]  WITH CHECK ADD  CONSTRAINT [fk_rc_from] FOREIGN KEY([from_place_id])
REFERENCES [dbo].[places] ([place_id])
GO
ALTER TABLE [dbo].[route_cache] CHECK CONSTRAINT [fk_rc_from]
GO
ALTER TABLE [dbo].[route_cache]  WITH CHECK ADD  CONSTRAINT [fk_rc_mode] FOREIGN KEY([mode_id])
REFERENCES [dbo].[transport_modes] ([mode_id])
GO
ALTER TABLE [dbo].[route_cache] CHECK CONSTRAINT [fk_rc_mode]
GO
ALTER TABLE [dbo].[route_cache]  WITH CHECK ADD  CONSTRAINT [fk_rc_to] FOREIGN KEY([to_place_id])
REFERENCES [dbo].[places] ([place_id])
GO
ALTER TABLE [dbo].[route_cache] CHECK CONSTRAINT [fk_rc_to]
GO
ALTER TABLE [dbo].[survey_answers]  WITH CHECK ADD  CONSTRAINT [fk_sa_option] FOREIGN KEY([option_id])
REFERENCES [dbo].[survey_question_options] ([option_id])
GO
ALTER TABLE [dbo].[survey_answers] CHECK CONSTRAINT [fk_sa_option]
GO
ALTER TABLE [dbo].[survey_answers]  WITH CHECK ADD  CONSTRAINT [fk_sa_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[survey_questions] ([question_id])
GO
ALTER TABLE [dbo].[survey_answers] CHECK CONSTRAINT [fk_sa_question]
GO
ALTER TABLE [dbo].[survey_answers]  WITH CHECK ADD  CONSTRAINT [fk_sa_response] FOREIGN KEY([response_id])
REFERENCES [dbo].[survey_responses] ([response_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[survey_answers] CHECK CONSTRAINT [fk_sa_response]
GO
ALTER TABLE [dbo].[survey_question_options]  WITH CHECK ADD  CONSTRAINT [fk_sqo_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[survey_questions] ([question_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[survey_question_options] CHECK CONSTRAINT [fk_sqo_question]
GO
ALTER TABLE [dbo].[survey_questions]  WITH CHECK ADD  CONSTRAINT [fk_sq_survey] FOREIGN KEY([survey_id])
REFERENCES [dbo].[surveys] ([survey_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[survey_questions] CHECK CONSTRAINT [fk_sq_survey]
GO
ALTER TABLE [dbo].[survey_responses]  WITH CHECK ADD  CONSTRAINT [fk_sr_itin] FOREIGN KEY([itinerary_id])
REFERENCES [dbo].[itineraries] ([itinerary_id])
GO
ALTER TABLE [dbo].[survey_responses] CHECK CONSTRAINT [fk_sr_itin]
GO
ALTER TABLE [dbo].[survey_responses]  WITH CHECK ADD  CONSTRAINT [fk_sr_place] FOREIGN KEY([place_id])
REFERENCES [dbo].[places] ([place_id])
GO
ALTER TABLE [dbo].[survey_responses] CHECK CONSTRAINT [fk_sr_place]
GO
ALTER TABLE [dbo].[survey_responses]  WITH CHECK ADD  CONSTRAINT [fk_sr_survey] FOREIGN KEY([survey_id])
REFERENCES [dbo].[surveys] ([survey_id])
GO
ALTER TABLE [dbo].[survey_responses] CHECK CONSTRAINT [fk_sr_survey]
GO
ALTER TABLE [dbo].[survey_responses]  WITH CHECK ADD  CONSTRAINT [fk_sr_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[survey_responses] CHECK CONSTRAINT [fk_sr_user]
GO
ALTER TABLE [dbo].[surveys]  WITH CHECK ADD  CONSTRAINT [fk_survey_user] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[surveys] CHECK CONSTRAINT [fk_survey_user]
GO
ALTER TABLE [dbo].[system_settings]  WITH CHECK ADD  CONSTRAINT [fk_setting_user] FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[system_settings] CHECK CONSTRAINT [fk_setting_user]
GO
ALTER TABLE [dbo].[user_favorites]  WITH CHECK ADD  CONSTRAINT [fk_fav_place] FOREIGN KEY([place_id])
REFERENCES [dbo].[places] ([place_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_favorites] CHECK CONSTRAINT [fk_fav_place]
GO
ALTER TABLE [dbo].[user_favorites]  WITH CHECK ADD  CONSTRAINT [fk_fav_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_favorites] CHECK CONSTRAINT [fk_fav_user]
GO
ALTER TABLE [dbo].[user_memberships]  WITH CHECK ADD  CONSTRAINT [fk_mem_tier] FOREIGN KEY([tier_id])
REFERENCES [dbo].[vip_tiers] ([tier_id])
GO
ALTER TABLE [dbo].[user_memberships] CHECK CONSTRAINT [fk_mem_tier]
GO
ALTER TABLE [dbo].[user_memberships]  WITH CHECK ADD  CONSTRAINT [fk_mem_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_memberships] CHECK CONSTRAINT [fk_mem_user]
GO
ALTER TABLE [dbo].[user_preferences]  WITH CHECK ADD  CONSTRAINT [fk_pref_category] FOREIGN KEY([preferred_category_id])
REFERENCES [dbo].[attraction_categories] ([category_id])
GO
ALTER TABLE [dbo].[user_preferences] CHECK CONSTRAINT [fk_pref_category]
GO
ALTER TABLE [dbo].[user_preferences]  WITH CHECK ADD  CONSTRAINT [fk_pref_cuisine] FOREIGN KEY([preferred_cuisine_id])
REFERENCES [dbo].[cuisines] ([cuisine_id])
GO
ALTER TABLE [dbo].[user_preferences] CHECK CONSTRAINT [fk_pref_cuisine]
GO
ALTER TABLE [dbo].[user_preferences]  WITH CHECK ADD  CONSTRAINT [fk_pref_taste] FOREIGN KEY([preferred_taste_id])
REFERENCES [dbo].[tastes] ([taste_id])
GO
ALTER TABLE [dbo].[user_preferences] CHECK CONSTRAINT [fk_pref_taste]
GO
ALTER TABLE [dbo].[user_preferences]  WITH CHECK ADD  CONSTRAINT [fk_pref_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_preferences] CHECK CONSTRAINT [fk_pref_user]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [fk_users_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [fk_users_role]
GO
ALTER TABLE [dbo].[vip_offers]  WITH CHECK ADD  CONSTRAINT [fk_offer_tier] FOREIGN KEY([min_tier_id])
REFERENCES [dbo].[vip_tiers] ([tier_id])
GO
ALTER TABLE [dbo].[vip_offers] CHECK CONSTRAINT [fk_offer_tier]
GO
ALTER TABLE [dbo].[accommodations]  WITH CHECK ADD  CONSTRAINT [chk_acc_kind] CHECK  (([accommodation_type]='HOMESTAY' OR [accommodation_type]='HOTEL'))
GO
ALTER TABLE [dbo].[accommodations] CHECK CONSTRAINT [chk_acc_kind]
GO
ALTER TABLE [dbo].[accommodations]  WITH CHECK ADD  CONSTRAINT [chk_acc_star] CHECK  (([star_rating] IS NULL OR [star_rating]>=(1) AND [star_rating]<=(5)))
GO
ALTER TABLE [dbo].[accommodations] CHECK CONSTRAINT [chk_acc_star]
GO
ALTER TABLE [dbo].[accommodations]  WITH CHECK ADD  CONSTRAINT [chk_acc_type] CHECK  (([place_type]='ACCOMMODATION'))
GO
ALTER TABLE [dbo].[accommodations] CHECK CONSTRAINT [chk_acc_type]
GO
ALTER TABLE [dbo].[attractions]  WITH CHECK ADD  CONSTRAINT [chk_attr_duration] CHECK  (([visit_duration_minutes] IS NULL OR [visit_duration_minutes]>(0)))
GO
ALTER TABLE [dbo].[attractions] CHECK CONSTRAINT [chk_attr_duration]
GO
ALTER TABLE [dbo].[attractions]  WITH CHECK ADD  CONSTRAINT [chk_attr_price] CHECK  (([ticket_price]>=(0)))
GO
ALTER TABLE [dbo].[attractions] CHECK CONSTRAINT [chk_attr_price]
GO
ALTER TABLE [dbo].[attractions]  WITH CHECK ADD  CONSTRAINT [chk_attr_type] CHECK  (([place_type]='ATTRACTION'))
GO
ALTER TABLE [dbo].[attractions] CHECK CONSTRAINT [chk_attr_type]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD CHECK  (([booking_type]='TICKET' OR [booking_type]='TABLE' OR [booking_type]='STAY'))
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD CHECK  (([status]='COMPLETED' OR [status]='CANCELLED' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD  CONSTRAINT [chk_cm_sender] CHECK  (([sender]='AI' OR [sender]='USER'))
GO
ALTER TABLE [dbo].[chat_messages] CHECK CONSTRAINT [chk_cm_sender]
GO
ALTER TABLE [dbo].[itineraries]  WITH CHECK ADD  CONSTRAINT [chk_itin_bstatus] CHECK  (([budget_status] IS NULL OR ([budget_status]='OVER' OR [budget_status]='FIT')))
GO
ALTER TABLE [dbo].[itineraries] CHECK CONSTRAINT [chk_itin_bstatus]
GO
ALTER TABLE [dbo].[itineraries]  WITH CHECK ADD  CONSTRAINT [chk_itin_budget] CHECK  (([budget]>(0)))
GO
ALTER TABLE [dbo].[itineraries] CHECK CONSTRAINT [chk_itin_budget]
GO
ALTER TABLE [dbo].[itineraries]  WITH CHECK ADD  CONSTRAINT [chk_itin_cost] CHECK  (([total_estimated_cost]>=(0)))
GO
ALTER TABLE [dbo].[itineraries] CHECK CONSTRAINT [chk_itin_cost]
GO
ALTER TABLE [dbo].[itineraries]  WITH CHECK ADD  CONSTRAINT [chk_itin_days] CHECK  (([num_days]>=(1) AND [num_days]<=(3)))
GO
ALTER TABLE [dbo].[itineraries] CHECK CONSTRAINT [chk_itin_days]
GO
ALTER TABLE [dbo].[itineraries]  WITH CHECK ADD  CONSTRAINT [chk_itin_people] CHECK  (([num_people]>=(1)))
GO
ALTER TABLE [dbo].[itineraries] CHECK CONSTRAINT [chk_itin_people]
GO
ALTER TABLE [dbo].[itineraries]  WITH CHECK ADD  CONSTRAINT [chk_itin_status] CHECK  (([status]='COMPLETED' OR [status]='CONFIRMED' OR [status]='DRAFT'))
GO
ALTER TABLE [dbo].[itineraries] CHECK CONSTRAINT [chk_itin_status]
GO
ALTER TABLE [dbo].[itinerary_alternatives]  WITH CHECK ADD  CONSTRAINT [chk_alt_saving] CHECK  (([cost_saving] IS NULL OR [cost_saving]>=(0)))
GO
ALTER TABLE [dbo].[itinerary_alternatives] CHECK CONSTRAINT [chk_alt_saving]
GO
ALTER TABLE [dbo].[itinerary_alternatives]  WITH CHECK ADD  CONSTRAINT [chk_alt_status] CHECK  (([status]='REJECTED' OR [status]='ACCEPTED' OR [status]='SUGGESTED'))
GO
ALTER TABLE [dbo].[itinerary_alternatives] CHECK CONSTRAINT [chk_alt_status]
GO
ALTER TABLE [dbo].[itinerary_days]  WITH CHECK ADD  CONSTRAINT [chk_day_number] CHECK  (([day_number]>=(1) AND [day_number]<=(3)))
GO
ALTER TABLE [dbo].[itinerary_days] CHECK CONSTRAINT [chk_day_number]
GO
ALTER TABLE [dbo].[itinerary_items]  WITH CHECK ADD  CONSTRAINT [chk_item_money] CHECK  (([unit_price]>=(0) AND [estimated_cost]>=(0) AND [travel_cost]>=(0)))
GO
ALTER TABLE [dbo].[itinerary_items] CHECK CONSTRAINT [chk_item_money]
GO
ALTER TABLE [dbo].[itinerary_items]  WITH CHECK ADD  CONSTRAINT [chk_item_qty] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[itinerary_items] CHECK CONSTRAINT [chk_item_qty]
GO
ALTER TABLE [dbo].[itinerary_items]  WITH CHECK ADD  CONSTRAINT [chk_item_ref] CHECK  ((([room_type_id] IS NULL OR [item_type]='STAY') AND ([menu_item_id] IS NULL OR [item_type]='MEAL')))
GO
ALTER TABLE [dbo].[itinerary_items] CHECK CONSTRAINT [chk_item_ref]
GO
ALTER TABLE [dbo].[itinerary_items]  WITH CHECK ADD  CONSTRAINT [chk_item_type] CHECK  (([item_type]='VISIT' OR [item_type]='MEAL' OR [item_type]='STAY'))
GO
ALTER TABLE [dbo].[itinerary_items] CHECK CONSTRAINT [chk_item_type]
GO
ALTER TABLE [dbo].[menu_items]  WITH CHECK ADD  CONSTRAINT [chk_menu_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[menu_items] CHECK CONSTRAINT [chk_menu_price]
GO
ALTER TABLE [dbo].[opening_hours]  WITH CHECK ADD  CONSTRAINT [chk_open_day] CHECK  (([day_of_week]>=(1) AND [day_of_week]<=(7)))
GO
ALTER TABLE [dbo].[opening_hours] CHECK CONSTRAINT [chk_open_day]
GO
ALTER TABLE [dbo].[partner_profiles]  WITH CHECK ADD  CONSTRAINT [chk_partner_status] CHECK  (([approval_status]='REJECTED' OR [approval_status]='APPROVED' OR [approval_status]='PENDING'))
GO
ALTER TABLE [dbo].[partner_profiles] CHECK CONSTRAINT [chk_partner_status]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([method]='VNPAY' OR [method]='MOMO' OR [method]='BANK_TRANSFER' OR [method]='CASH'))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([status]='REFUNDED' OR [status]='FAILED' OR [status]='PAID' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[places]  WITH CHECK ADD  CONSTRAINT [chk_places_lat] CHECK  (([latitude] IS NULL OR [latitude]>=(-90) AND [latitude]<=(90)))
GO
ALTER TABLE [dbo].[places] CHECK CONSTRAINT [chk_places_lat]
GO
ALTER TABLE [dbo].[places]  WITH CHECK ADD  CONSTRAINT [chk_places_lng] CHECK  (([longitude] IS NULL OR [longitude]>=(-180) AND [longitude]<=(180)))
GO
ALTER TABLE [dbo].[places] CHECK CONSTRAINT [chk_places_lng]
GO
ALTER TABLE [dbo].[places]  WITH CHECK ADD  CONSTRAINT [chk_places_rating] CHECK  (([avg_rating]>=(0) AND [avg_rating]<=(5)))
GO
ALTER TABLE [dbo].[places] CHECK CONSTRAINT [chk_places_rating]
GO
ALTER TABLE [dbo].[places]  WITH CHECK ADD  CONSTRAINT [chk_places_status] CHECK  (([status]='PENDING' OR [status]='HIDDEN' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[places] CHECK CONSTRAINT [chk_places_status]
GO
ALTER TABLE [dbo].[places]  WITH CHECK ADD  CONSTRAINT [chk_places_type] CHECK  (([place_type]='ATTRACTION' OR [place_type]='RESTAURANT' OR [place_type]='ACCOMMODATION'))
GO
ALTER TABLE [dbo].[places] CHECK CONSTRAINT [chk_places_type]
GO
ALTER TABLE [dbo].[restaurants]  WITH CHECK ADD  CONSTRAINT [chk_rest_price] CHECK  (([price_min] IS NULL OR [price_max] IS NULL OR [price_max]>=[price_min]))
GO
ALTER TABLE [dbo].[restaurants] CHECK CONSTRAINT [chk_rest_price]
GO
ALTER TABLE [dbo].[restaurants]  WITH CHECK ADD  CONSTRAINT [chk_rest_type] CHECK  (([place_type]='RESTAURANT'))
GO
ALTER TABLE [dbo].[restaurants] CHECK CONSTRAINT [chk_rest_type]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [chk_rev_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [chk_rev_rating]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [chk_rev_status] CHECK  (([status]='HIDDEN' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [chk_rev_status]
GO
ALTER TABLE [dbo].[room_types]  WITH CHECK ADD  CONSTRAINT [chk_room_orig] CHECK  (([original_price] IS NULL OR [original_price]>=[price_per_night]))
GO
ALTER TABLE [dbo].[room_types] CHECK CONSTRAINT [chk_room_orig]
GO
ALTER TABLE [dbo].[room_types]  WITH CHECK ADD  CONSTRAINT [chk_room_price] CHECK  (([price_per_night]>=(0)))
GO
ALTER TABLE [dbo].[room_types] CHECK CONSTRAINT [chk_room_price]
GO
ALTER TABLE [dbo].[room_types]  WITH CHECK ADD  CONSTRAINT [chk_room_status] CHECK  (([status]='HIDDEN' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[room_types] CHECK CONSTRAINT [chk_room_status]
GO
ALTER TABLE [dbo].[route_cache]  WITH CHECK ADD  CONSTRAINT [chk_rc_diff] CHECK  (([from_place_id]<>[to_place_id]))
GO
ALTER TABLE [dbo].[route_cache] CHECK CONSTRAINT [chk_rc_diff]
GO
ALTER TABLE [dbo].[route_cache]  WITH CHECK ADD  CONSTRAINT [chk_rc_dist] CHECK  (([distance_km] IS NULL OR [distance_km]>=(0)))
GO
ALTER TABLE [dbo].[route_cache] CHECK CONSTRAINT [chk_rc_dist]
GO
ALTER TABLE [dbo].[survey_answers]  WITH CHECK ADD  CONSTRAINT [chk_sa_score] CHECK  (([answer_score] IS NULL OR [answer_score]>=(1) AND [answer_score]<=(5)))
GO
ALTER TABLE [dbo].[survey_answers] CHECK CONSTRAINT [chk_sa_score]
GO
ALTER TABLE [dbo].[survey_questions]  WITH CHECK ADD  CONSTRAINT [chk_sq_type] CHECK  (([question_type]='CHOICE' OR [question_type]='TEXT' OR [question_type]='RATING'))
GO
ALTER TABLE [dbo].[survey_questions] CHECK CONSTRAINT [chk_sq_type]
GO
ALTER TABLE [dbo].[survey_responses]  WITH CHECK ADD  CONSTRAINT [chk_sr_status] CHECK  (([status]='SUBMITTED' OR [status]='SENT'))
GO
ALTER TABLE [dbo].[survey_responses] CHECK CONSTRAINT [chk_sr_status]
GO
ALTER TABLE [dbo].[surveys]  WITH CHECK ADD  CONSTRAINT [chk_survey_status] CHECK  (([status]='CLOSED' OR [status]='OPEN' OR [status]='DRAFT'))
GO
ALTER TABLE [dbo].[surveys] CHECK CONSTRAINT [chk_survey_status]
GO
ALTER TABLE [dbo].[surveys]  WITH CHECK ADD  CONSTRAINT [chk_survey_target] CHECK  (([target_role]='ALL' OR [target_role]='PARTNER' OR [target_role]='USER'))
GO
ALTER TABLE [dbo].[surveys] CHECK CONSTRAINT [chk_survey_target]
GO
ALTER TABLE [dbo].[transport_modes]  WITH CHECK ADD  CONSTRAINT [chk_mode_cost] CHECK  (([cost_per_km]>=(0)))
GO
ALTER TABLE [dbo].[transport_modes] CHECK CONSTRAINT [chk_mode_cost]
GO
ALTER TABLE [dbo].[user_memberships]  WITH CHECK ADD  CONSTRAINT [chk_mem_points] CHECK  (([points]>=(0)))
GO
ALTER TABLE [dbo].[user_memberships] CHECK CONSTRAINT [chk_mem_points]
GO
ALTER TABLE [dbo].[user_preferences]  WITH CHECK ADD  CONSTRAINT [chk_pref_budget] CHECK  (([default_budget_per_day] IS NULL OR [default_budget_per_day]>(0)))
GO
ALTER TABLE [dbo].[user_preferences] CHECK CONSTRAINT [chk_pref_budget]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [chk_users_status] CHECK  (([status]='LOCKED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [chk_users_status]
GO
ALTER TABLE [dbo].[vip_offers]  WITH CHECK ADD  CONSTRAINT [chk_offer_discount] CHECK  (([discount_percent] IS NULL OR [discount_percent]>=(0) AND [discount_percent]<=(100)))
GO
ALTER TABLE [dbo].[vip_offers] CHECK CONSTRAINT [chk_offer_discount]
GO
ALTER TABLE [dbo].[vip_tiers]  WITH CHECK ADD  CONSTRAINT [chk_tier_points] CHECK  (([min_points]>=(0)))
GO
ALTER TABLE [dbo].[vip_tiers] CHECK CONSTRAINT [chk_tier_points]
GO
USE [master]
GO
